@import '../node_modules/bootstrap/scss/functions';
$gapaiptn:   #F19E00 !default;
$blue:      #0d6efd !default;

$gapaiptn-50: tint-color($gapaiptn, 90%) !default;
$gapaiptn-100: tint-color($gapaiptn, 80%) !default;
$gapaiptn-200: tint-color($gapaiptn, 60%) !default;
$gapaiptn-300: tint-color($gapaiptn, 40%) !default;
$gapaiptn-400: tint-color($gapaiptn, 20%) !default;
$gapaiptn-500: $gapaiptn !default;
$gapaiptn-600: shade-color($gapaiptn, 20%) !default;
$gapaiptn-700: shade-color($gapaiptn, 40%) !default;
$gapaiptn-800: shade-color($gapaiptn, 60%) !default;
$gapaiptn-900: shade-color($gapaiptn, 80%) !default;

// init color variables in bootstrap by default values
$primary:   $gapaiptn !default;
$secondary: $blue !default;

$light:     $gapaiptn-200 !default;
$dark:      $gapaiptn-900 !default;

// Body styles to init default values
$body-bg:   $gapaiptn-50 !default;
$body-color:$gapaiptn-900 !default;

// Import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    min-height: 100vh;
}

/*
 * Backgound image
 */


.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

// Form rasionalisasi

/*The background card*/
.card {
    z-index: 0;
}

#progressbar {
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    color: white;
}


#progressbar .active {
    color: var(--bs-dark);
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: calc(100% / 3);
    float: left;
    position: relative;
}

/*ProgressBar before any progress*/
#progressbar li > .icon {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: var(--bs-primary);
    background: var(--bs-light);
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:before {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--bs-light);
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active > .icon {
    background: var(--bs-dark);
}
